##
## Copyright 2014-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
#set ($rule = $scriptEngine.get('kvsRule'))
#set ($importList = [])
#set($added = $importList.add("${data.dbMeta.package}.${data.dbMeta.className}"))
#set($added = $importList.add('java.io.Serializable'))
#set($added = $importList.add('org.dbflute.kvs.store.entity.KvsStoreEntity'))
#set($added = $importList.add('org.dbflute.kvs.store.entity.dbmeta.KvsStoreDBMeta'))
${manager.allClassCopyright}package ${data.package};
#generateImports($importList, $data.package, $scriptEngine.invokeMethod($rule, 'importOrderList'))

/**
 * The entity of (${data.comment})${data.tableName}.
 * @author FreeGen
 */
public abstract class ${data.className} implements KvsStoreEntity, Serializable {

    /** The serial version UID for object serialization. (Default) */
    private static final long serialVersionUID = 1L;

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
#foreach ($column in $data.columnList)
#set ($javaNative = ${column.type})
    /** ${column.name}: ${column.comment} */
#if ($column.default)
    protected ${javaNative} _${column.uncapCamelName} = ${column.default};
#else
    protected ${javaNative} _${column.uncapCamelName};
#end

#end

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
#foreach ($column in $data.columnList)
#set ($javaNative = ${column.type})
    /**
     * ${column.comment}を返す。
     * @return ${column.comment}
     */
    public ${javaNative} get${column.capCamelName}() {
#if ($javaNative.startsWith('java.util.Map') || $javaNative.startsWith('java.util.List'))
        if (_${column.uncapCamelName} == null) {
            _${column.uncapCamelName} = new ${javaNative.replaceAll('^java\.util\.List', 'java\.util\.ArrayList').replaceAll('^java\.util\.Map', 'java\.util\.LinkedHashMap')}();
        }
#end
        return _${column.uncapCamelName};
    }

    /**
     * ${column.comment}を設定する。
     * @param ${column.uncapCamelName} ${column.comment}
     */
    public void set${column.capCamelName}(${javaNative} ${column.uncapCamelName}) {
        _${column.uncapCamelName} = ${column.uncapCamelName};
    }

#end
    @Override
    public KvsStoreDBMeta asDBMeta() {
        return ${data.dbMeta.className}.getInstance();
    }

    @Override
    public String toString() {
        String delimiter = ", ";
        StringBuilder sb = new StringBuilder();
#foreach ($column in $data.columnList)
        sb.append(delimiter).append(get${column.capCamelName}());
#end
        if (sb.length() > delimiter.length()) {
            sb.delete(0, delimiter.length());
        }
        sb.insert(0, super.toString() + "{").append("}");
        return sb.toString();
    }
}
