##
## Copyright 2017-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
#set ($rule = $scriptEngine.get('c7aRule'))
${manager.allClassCopyright}package ${data.package};
#set ($importList = [])
#set($added = $importList.add('org.dbflute.c7a.bhv.AbstractC7aBehaviorWritable'))
#set($added = $importList.add('org.dbflute.c7a.cbean.C7aConditionBean'))
#set($added = $importList.add('org.dbflute.c7a.entity.C7aEntity'))
#generateImports($importList, $data.package, $scriptEngine.invokeMethod($rule, 'importOrderList'))

/**
 * The abstract behaviorwritable class  for c7a of ${data.c7a.schema}.
 * @author FreeGen
 */
public abstract class ${data.className}<ENTITY extends C7aEntity, CB extends C7aConditionBean>
        extends AbstractC7aBehaviorWritable<ENTITY, CB> {
}
