##
## Copyright 2017-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
#set ($rule = $scriptEngine.get('c7aRule'))
${manager.allClassCopyright}package ${data.package};
#set ($importList = [])
#set($added = $importList.add('org.dbflute.c7a.C7aPool'))
#generateImports($importList, $data.package, $scriptEngine.invokeMethod($rule, 'importOrderList'))

/**
 * The pool factory class for c7a of ${data.c7a.schema}.
 * @author FreeGen
 */
public class ${data.className} {

    public static C7aPool create() {
        // TODO you #change_set the value and return the pool
        //XxxConfig config = ContainerUtil.getComponent(XxxConfig.class);
        //C7aPool c7aPool = new C7aPool();
        //c7aPool.setHost(config.getC7a${manager.initCap($data.c7a.schema)}Host());
        //c7aPool.setPort(config.getC7a${manager.initCap($data.c7a.schema)}PortAsInteger());
        //c7aPool.setUser(config.getC7a${manager.initCap($data.c7a.schema)}User());
        //c7aPool.setPassword(config.getC7a${manager.initCap($data.c7a.schema)}Password());
        //return c7aPool;
        throw new IllegalStateException("the value and return the pool.");
    }
}
