$manager.info("requestList: ${requestList.size()}")
#parse("./c7a/ControlFreeGenC7aJava.vm")
#parse("./kvs/ControlFreeGenKvsJava.vm")
#parse("./solr/ControlFreeGenSolrJava.vm")
#parse("./dbfluteOptional/ControlFreeGenDbfluteOptionalJava.vm")
