##
## Copyright 2014-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE components PUBLIC "-//SEASAR//DTD S2Container 2.4//EN"
    "http://www.seasar.org/dtd/components24.dtd">
<components namespace="kvs_store-${data.kvs.schema}">
    <include path="saflute_assist.dicon"/>
    <include path="${data.kvsPoolDiFile}"/>
    <include path="${data.dbfluteDiFile}"/>

    <component name="kvsCacheManager" class="org.dbflute.kvs.cache.KvsCacheManagerImpl" />
    <component name="kvsCacheBusinessAssist" class="org.dbflute.kvs.cache.KvsCacheBusinessAssist" />

    <component name="kvsCacheDelegator">
        provider.config().isKvsMock()
                ? new org.dbflute.kvs.core.delegator.KvsLocalMapDelegator()
                : new org.dbflute.kvs.cache.delegator.KvsCacheRedisDelegator()
    </component>

    <component name="cacheTtl">provider.config().getKvsCache${manager.initCap($data.kvs.schema)}TtlAsInteger()</component>
    <component name="${manager.initUncap($data.kvs.kvsCacheFacadeImpl.className)}" class="${data.kvs.kvsCacheFacadeImpl.package}.${data.kvs.kvsCacheFacadeImpl.className}" />
#if (!$data.kvs.suppressBehaviorGen)

    <!-- The components of Behavior. -->
#foreach ($exBehavior in $data.exBehaviorList)
    <component name="${manager.initUncap($exBehavior.className)}" class="${exBehavior.package}.${exBehavior.className}"/>
#end
#end
</components>
