##
## Copyright 2014-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
${manager.allClassCopyright}package ${data.solr.package}.cbean.bs;

import java.util.ArrayList;
import java.util.List;

import org.dbflute.solr.cbean.AbstractSolrConditionBean;
import org.dbflute.solr.cbean.AbstractSolrSpecification;
import org.dbflute.solr.cbean.SolrFilterQueryBean;
import org.dbflute.solr.cbean.SolrQBCall;
import org.dbflute.solr.cbean.SolrQueryBean;
import org.dbflute.solr.cbean.SolrSpecification;

import ${data.solr.package}.bsentity.meta.Solr${data.solr.tableMap.schema}Dbm;
import ${data.solr.package}.cbean.cfq.Solr${data.solr.tableMap.schema}CFQ;
import ${data.solr.package}.cbean.cq.Solr${data.solr.tableMap.schema}CQ;

/**
 * Base ConditionBean class of Solr schema "${data.solr.tableMap.schema}."
 * @author FreeGen
 */
public class SolrBs${data.solr.tableMap.schema}CB extends AbstractSolrConditionBean {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected Solr${data.solr.tableMap.schema}CQ queryBean;

    protected Solr${data.solr.tableMap.schema}CFQ filterQueryBean;

    protected HpSpecification specification;

    protected List<Solr${data.solr.tableMap.schema}CQ> facetQueryList;

    protected HpSpecification facetSpecification;

    public Solr${data.solr.tableMap.schema}CQ query() {
        if (this.queryBean == null) {
            this.queryBean = new Solr${data.solr.tableMap.schema}CQ();
        }
        return this.queryBean;
    }

    public Solr${data.solr.tableMap.schema}CFQ filterQuery() {
        if (this.filterQueryBean == null) {
            this.filterQueryBean = new Solr${data.solr.tableMap.schema}CFQ();
        }
        return this.filterQueryBean;
    }

    @Override
    public HpSpecification specify() {
        if (this.specification == null) {
            this.specification = new HpSpecification();
        }
        return this.specification;
    }

    @Override
    protected SolrQueryBean getQueryBean() {
        return this.query();
    }

    @Override
    protected SolrFilterQueryBean getFilterQueryBean() {
        return this.filterQuery();
    }

    @Override
    protected SolrSpecification getSpecification() {
        return this.specify();
    }

    public void addFacetQuery(SolrQBCall<Solr${data.solr.tableMap.schema}CQ> qbLambda) {
        if (this.facetQueryList == null) {
            this.facetQueryList = new ArrayList<Solr${data.solr.tableMap.schema}CQ>();
        }
        Solr${data.solr.tableMap.schema}CQ queryBean = new Solr${data.solr.tableMap.schema}CQ();
        qbLambda.callback(queryBean);
        facetQueryList.add(queryBean);
    }

    @Override
    public List<? extends SolrQueryBean> getFacetQueryList() {
        if (this.facetQueryList == null) {
            this.facetQueryList = new ArrayList<Solr${data.solr.tableMap.schema}CQ>();
        }
        return facetQueryList;
    }

    public HpSpecification facetSpecify() {
        if (this.facetSpecification == null) {
            this.facetSpecification = new HpSpecification();
        }
        return this.facetSpecification;
    }

    @Override
    protected SolrSpecification getFacetSpecification() {
        return this.facetSpecify();
    }

    public static class HpSpecification extends AbstractSolrSpecification {
        // ===================================================================================
        //                                                                        SpricyColumn
        //                                                                        ============
#foreach ($column in $data.solr.columnList)
#if(${column.stored})
        public void field${column.capCamelName}() {
            this.addSpecifyField(Solr${data.solr.tableMap.schema}Dbm.${column.capCamelName});
        }
#if(${velocityHasNext})

#end
#end
#end
    }
}
