##
## Copyright 2014-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
$manager.info("requestList: ${requestList.size()}")
#set ($genKvsCore = false)
#set ($genKvsStore = false)
#set ($genKvsCache = false)
#set ($genKvsCacheColumnNullObject = false)

#foreach ($request in $requestList)
#set ($tableMap = $request.tableMap)
$request.enableOutputDirectory()
$manager.makeDirectory($request.generateDirPath)

#if ($request.isResourceTypeJsonSchema())
  #if ($request.requestName.startsWith("Kvs") && ($manager.isTargetContainerSeasar() || $manager.isTargetContainerLastaDi() || $tableMap.targetContainer))
    #if (!$genKvsCore)
      #set ($genKvsCore = true)

      #set ($path = "org/dbflute/kvs/core/delegator/AbstractKvsRedisDelegator.java")
      #mkdir($path)
      #generate("./kvs/allcommon/core/delegator/AbstractKvsRedisDelegator.vm", $path)

      #set ($path = "org/dbflute/kvs/core/delegator/KvsDelegator.java")
      #mkdir($path)
      #generate("./kvs/allcommon/core/delegator/KvsDelegator.vm", $path)

      #set ($path = "org/dbflute/kvs/core/delegator/KvsLocalMapDelegator.java")
      #mkdir($path)
      #generate("./kvs/allcommon/core/delegator/KvsLocalMapDelegator.vm", $path)

      #set ($path = "org/dbflute/kvs/core/delegator/KvsRedisPool.java")
      #mkdir($path)
      #generate("./kvs/allcommon/core/delegator/KvsRedisPool.vm", $path)

      #set ($path = "org/dbflute/kvs/core/exception/KvsException.java")
      #mkdir($path)
      #generate("./kvs/allcommon/core/exception/KvsException.vm", $path)

      #set ($path = "org/dbflute/kvs/core/assertion/KvsAssertion.java")
      #mkdir($path)
      #generate("./kvs/allcommon/core/assertion/KvsAssertion.vm", $path)
    #end
  #end

  #if ($request.requestName.startsWith("KvsPool"))
    #set ($path = "${request.generateDirPath}/KvsRedisPoolFactory.java")
    #mkdir($path)
    #generate("./kvs/KvsRedisPoolFactory.vm", $path)

    #foreach ($table in $request.tableList)
      #if ($manager.isTargetContainerSeasar() || $tableMap.targetContainer == "seasar")
        #set ($path = "../resources/kvs/di/kvs-pool-${table.uncapCamelName}.dicon")
        #mkdir($path)
        #generate("./kvs/allcommon/container/seasar/KvsPoolDicon.vm", $path)
      #end
      #if ($manager.isTargetContainerLastaDi() || $tableMap.targetContainer == "lasta_di")
        #set ($path = "../resources/kvs/di/kvs-pool-${table.uncapCamelName}.xml")
        #mkdir($path)
        #generate("./kvs/allcommon/container/lastadi/KvsPoolDiXml.vm", $path)
      #end
    #end
  #end

  #if ($request.requestName.startsWith("KvsStore"))
    #if (!$genKvsStore)
      #set ($genKvsStore = true)

      #set ($path = "org/dbflute/kvs/store/delegator/KvsStoreRedisDelegator.java")
      #mkdir($path)
      #generate("./kvs/allcommon/store/delegator/KvsStoreRedisDelegator.vm", $path)

      #set ($path = "org/dbflute/kvs/store/cbean/KvsStoreConditionBean.java")
      #mkdir($path)
      #generate("./kvs/allcommon/store/cbean/KvsStoreConditionBean.vm", $path)

      #set ($path = "org/dbflute/kvs/store/entity/dbmeta/KvsStoreDBMeta.java")
      #mkdir($path)
      #generate("./kvs/allcommon/store/entity/dbmeta/KvsStoreDBMeta.vm", $path)

      #set ($path = "org/dbflute/kvs/store/entity/dbmeta/AbstractKvsStoreDBMeta.java")
      #mkdir($path)
      #generate("./kvs/allcommon/store/entity/dbmeta/AbstractKvsStoreDBMeta.vm", $path)

      #set ($path = "org/dbflute/kvs/store/entity/KvsStoreEntity.java")
      #mkdir($path)
      #generate("./kvs/allcommon/store/entity/KvsStoreEntity.vm", $path)

      #set ($path = "org/dbflute/kvs/store/facade/KvsStoreFacade.java")
      #mkdir($path)
      #generate("./kvs/allcommon/store/facade/KvsStoreFacade.vm", $path)

      #set ($path = "org/dbflute/kvs/store/facade/AbstractKvsStoreFacade.java")
      #mkdir($path)
      #generate("./kvs/allcommon/store/facade/AbstractKvsStoreFacade.vm", $path)

      #set ($path = "org/dbflute/kvs/store/KvsStoreConverterHandler.java")
      #mkdir($path)
      #generate("./kvs/allcommon/store/KvsStoreConverterHandler.vm", $path)

      #set ($path = "org/dbflute/kvs/store/KvsStoreManager.java")
      #mkdir($path)
      #generate("./kvs/allcommon/store/KvsStoreManager.vm", $path)

      #set ($path = "org/dbflute/kvs/store/KvsStoreManagerImpl.java")
      #mkdir($path)
      #generate("./kvs/allcommon/store/KvsStoreManagerImpl.vm", $path)
    #end

    #set ($path = "${request.generateDirPath}/${tableMap.schema}/facade/${manager.initCap($tableMap.schema)}KvsStoreFacade.java")
    #mkdir($path)
    #generate("./kvs/store/KvsStoreFacadeImpl.vm", $path)

    #foreach ($table in $request.tableList)
      #set ($path = "${request.generateDirPath}/${tableMap.schema}/bsentity/dbmeta/Kvs$!{tableMap.schemaPrefix}${table.camelizedName}Dbm.java")
      #mkdir($path)
      #generate("./kvs/store/KvsStoreDBMeta.vm", $path)

      #set ($path = "${request.generateDirPath}/${tableMap.schema}/bsentity/Kvs$!{tableMap.schemaPrefix}Bs${table.camelizedName}.java")
      #mkdir($path)
      #generate("./kvs/store/KvsStoreBsEntity.vm", $path)

      #set ($path = "${request.generateDirPath}/${tableMap.schema}/exentity/Kvs$!{tableMap.schemaPrefix}${table.camelizedName}.java")
      #mkdir($path)
      #generateEx("./kvs/store/KvsStoreExEntity.vm", $path)

      #if ($tableMap.suppressBehaviorGen != 'true')
        #set ($path = "${request.generateDirPath}/${tableMap.schema}/cbean//bs/Kvs$!{tableMap.schemaPrefix}Bs${table.camelizedName}CB.java")
        #mkdir($path)
        #generate("./kvs/store/KvsStoreBsCB.vm", $path)

        #set ($path = "${request.generateDirPath}/${tableMap.schema}/cbean/Kvs$!{tableMap.schemaPrefix}${table.camelizedName}CB.java")
        #mkdir($path)
        #generateEx("./kvs/store/KvsStoreExCB.vm", $path)

        #set ($path = "${request.generateDirPath}/${tableMap.schema}/cbean/cq/bs/Kvs$!{tableMap.schemaPrefix}Bs${table.camelizedName}CQ.java")
        #mkdir($path)
        #generate("./kvs/store/KvsStoreBsCQ.vm", $path)

        #set ($path = "${request.generateDirPath}/${tableMap.schema}/cbean/cq/Kvs$!{tableMap.schemaPrefix}${table.camelizedName}CQ.java")
        #mkdir($path)
        #generateEx("./kvs/store/KvsStoreExCQ.vm", $path)

        #set ($path = "${request.generateDirPath}/${tableMap.schema}/bsbhv/Kvs$!{tableMap.schemaPrefix}Bs${table.camelizedName}Bhv.java")
        #mkdir($path)
        #generate("./kvs/store/KvsStoreBsBehavior.vm", $path)

        #set ($path = "${request.generateDirPath}/${tableMap.schema}/exbhv/Kvs$!{tableMap.schemaPrefix}${table.camelizedName}Bhv.java")
        #mkdir($path)
        #generateEx("./kvs/store/KvsStoreExBehavior.vm", $path)
      #end
    #end

    #if ($manager.isTargetContainerSeasar() || $tableMap.targetContainer == "seasar")
      #set ($path = "../resources/kvs/di/kvs-store-${tableMap.schema}.dicon")
      #mkdir($path)
      #generate("./kvs/allcommon/container/seasar/KvsStoreDicon.vm", $path)
    #end
    #if ($manager.isTargetContainerLastaDi() || $tableMap.targetContainer == "lasta_di")
      #set ($path = "../resources/kvs/di/kvs-store-${tableMap.schema}.xml")
      #mkdir($path)
      #generate("./kvs/allcommon/container/lastadi/KvsStoreDiXml.vm", $path)
    #end
  #end

  #if ($request.requestName.startsWith("KvsCache"))
    #if (!$genKvsCache)
      #set ($genKvsCache = true)

      #set ($path = "org/dbflute/kvs/cache/delegator/KvsCacheRedisDelegator.java")
      #mkdir($path)
      #generate("./kvs/allcommon/cache/delegator/KvsCacheRedisDelegator.vm", $path)

      #set ($path = "org/dbflute/kvs/cache/facade/KvsCacheFacade.java")
      #mkdir($path)
      #generate("./kvs/allcommon/cache/facade/KvsCacheFacade.vm", $path)

      #set ($path = "org/dbflute/kvs/cache/facade/AbstractKvsCacheFacade.java")
      #mkdir($path)
      #generate("./kvs/allcommon/cache/facade/AbstractKvsCacheFacade.vm", $path)

      #set ($path = "org/dbflute/kvs/cache/KvsCacheBusinessAssist.java")
      #mkdir($path)
      #generate("./kvs/allcommon/cache/KvsCacheBusinessAssist.vm", $path)

      #set ($path = "org/dbflute/kvs/cache/KvsCacheConverterHandler.java")
      #mkdir($path)
      #generate("./kvs/allcommon/cache/KvsCacheConverterHandler.vm", $path)

      #set ($path = "org/dbflute/kvs/cache/KvsCacheManager.java")
      #mkdir($path)
      #generate("./kvs/allcommon/cache/KvsCacheManager.vm", $path)

      #set ($path = "org/dbflute/kvs/cache/KvsCacheManagerImpl.java")
      #mkdir($path)
      #generate("./kvs/allcommon/cache/KvsCacheManagerImpl.vm", $path)

      #set ($path = "org/dbflute/kvs/cache/bhv/AbstractKvsCacheBehaviorWritable.java")
      #mkdir($path)
      #generate("./kvs/allcommon/cache/bhv/AbstractKvsCacheBehaviorWritable.vm", $path)

      #set ($path = "org/dbflute/kvs/cache/cbean/KvsCacheConditionBean.java")
      #mkdir($path)
      #generate("./kvs/allcommon/cache/cbean/KvsCacheConditionBean.vm", $path)
    #end

    #set ($path = "${request.generateDirPath}/${tableMap.schema}/facade/${manager.initCap($tableMap.schema)}KvsCacheFacade.java")
    #mkdir($path)
    #generate("./kvs/cache/KvsCacheFacadeImpl.vm", $path)

    #if ($tableMap.suppressBehaviorGen != 'true')
      #foreach ($table in $request.tableList)
        #set ($path = "${request.generateDirPath}/${tableMap.schema}/bsbhv/Kvs$!{tableMap.schemaPrefix}Bs${table.camelizedName}Bhv.java")
        #mkdir($path)
        #generate("./kvs/cache/KvsCacheBsBehavior.vm", $path)

        #set ($path = "${request.generateDirPath}/${tableMap.schema}/exbhv/Kvs$!{tableMap.schemaPrefix}${table.camelizedName}Bhv.java")
        #mkdir($path)
        #generateEx("./kvs/cache/KvsCacheExBehavior.vm", $path)

        #set ($path = "${request.generateDirPath}/${tableMap.schema}/cbean/bs/Kvs$!{tableMap.schemaPrefix}Bs${table.camelizedName}CB.java")
        #mkdir($path)
        #generate("./kvs/cache/KvsCacheBsCB.vm", $path)

        #set ($path = "${request.generateDirPath}/${tableMap.schema}/cbean/Kvs$!{tableMap.schemaPrefix}${table.camelizedName}CB.java")
        #mkdir($path)
        #generateEx("./kvs/cache/KvsCacheExCB.vm", $path)

        #set ($path = "${request.generateDirPath}/${tableMap.schema}/cbean/cq/bs/Kvs$!{tableMap.schemaPrefix}Bs${table.camelizedName}CQ.java")
        #mkdir($path)
        #generate("./kvs/cache/KvsCacheBsCQ.vm", $path)

        #set ($path = "${request.generateDirPath}/${tableMap.schema}/cbean/cq/Kvs$!{tableMap.schemaPrefix}${table.camelizedName}CQ.java")
        #mkdir($path)
        #generateEx("./kvs/cache/KvsCacheExCQ.vm", $path)
      #end
    #end

    #if ($manager.isTargetContainerSeasar() || $tableMap.targetContainer == "seasar")
      #set ($path = "../resources/kvs/di/kvs-cache-${tableMap.schema}.dicon")
      #mkdir($path)
      #generate("./kvs/allcommon/container/seasar/KvsCacheDicon.vm", $path)
    #end
    #if ($manager.isTargetContainerLastaDi() || $tableMap.targetContainer == "lasta_di")
      #set ($path = "../resources/kvs/di/kvs-cache-${tableMap.schema}.xml")
      #mkdir($path)
      #generate("./kvs/allcommon/container/lastadi/KvsCacheDiXml.vm", $path)
    #end

    #if (!$genKvsCacheColumnNullObject)
      #set ($genKvsCacheColumnNullObject = true)

      #set ($path = "org/dbflute/kvs/cache/KvsCacheColumnNullObject.java")
      #mkdir($path)
      #generate("./kvs/allcommon/cache/KvsCacheColumnNullObject.vm", $path)
    #end
  #end
  #set ($scriptEngine = $manager.createJavaScriptEngine())
  $scriptEngine.put('scriptEngine', $scriptEngine)
  $scriptEngine.put('generator', $generator)
  $scriptEngine.put('manager', $manager)
  $scriptEngine.eval('load("./freegen/kvs/ControlFreeGenKvsJava.js");')
  $scriptEngine.invokeFunction('process', $request)
#end
#end

#macro(mkdir, $path)
  $manager.makeDirectory($path)
  $request.info("parse('${path}')")
#end

#macro(generate, $src, $dest)
  $generator.parse($src, $dest, "", "")
#end

#macro(generateEx, $src, $dest)
  #if (!$files.file(${generator.outputPath},$dest).exists())
    $generator.parse($src, $dest, "", "")
  #end
#end
