##
## Copyright 2014-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
#set ($rule = $scriptEngine.get('kvsRule'))
#set ($_existsSingleKvsKeyMethod = false)
#set ($_existsCompositeKvsKeyMethod = false)
#foreach ($column in $table.columnList)
#if (!$column.many)
#set ($_existsSingleKvsKeyMethod = true)
#end
#if ($column.many)
#set ($_existsCompositeKvsKeyMethod = true)
#end
#end
#set ($importList = [])
#set($added = $importList.add('javax.annotation.Resource'))
#set($added = $importList.add("${data.kvs.kvsCacheFacadeImpl.package}.${data.kvs.kvsCacheFacadeImpl.className}"))
#if ($tableMap.suppressBehaviorBasicMethodGen != 'true')
#set($added = $importList.add('java.time.LocalDateTime'))
#set($added = $importList.add('java.util.Comparator'))
#set($added = $importList.add('java.util.List'))
#set($added = $importList.add('java.util.Map'))
#set($added = $importList.add('java.util.function.Consumer'))
#set($added = $importList.add('java.util.function.Function'))
#set($added = $importList.add('java.util.function.Predicate'))
#set($added = $importList.add('java.util.function.Supplier'))
#set($added = $importList.add('java.util.stream.Collectors'))
#set($added = $importList.add('java.util.stream.Stream'))
#set($added = $importList.add('org.dbflute.dbmeta.info.ColumnInfo'))
#set($added = $importList.add('org.dbflute.kvs.cache.bhv.writable.DeleteOption'))
#set($added = $importList.add('org.dbflute.kvs.cache.bhv.writable.InsertOrUpdateOption'))
#set($added = $importList.add("${data.extendsClass}"))
#set($added = $importList.add('org.dbflute.optional.OptionalEntity'))
#set($added = $importList.add('org.dbflute.util.DfCollectionUtil'))
#set($added = $importList.add("${data.dbflute.dbMeta.package}.${data.dbflute.dbMeta.className}"))
#set($added = $importList.add("${data.dbflute.exConditionBean.package}.${data.dbflute.exConditionBean.className}"))
#set($added = $importList.add("${data.dbflute.exEntity.package}.${data.dbflute.exEntity.className}"))
#set($added = $importList.add("${data.exConditionBean.package}.${data.exConditionBean.className}"))
#end
${manager.allClassCopyright}package ${data.package};
#generateImports($importList, $data.package, $scriptEngine.invokeMethod($rule, 'importOrderList'))

/**
 * The behavior of (${data.comment})${data.tableName}.
 * @author FreeGen
 */
public abstract class ${data.className} extends ${data.extendsClassName} {

    // ===================================================================================
    //                                                                          Definition
    //                                                                          ==========
    /** ${manager.initCap($data.kvs.schema)}KvsCacheFacade. */
    @Resource
    private ${manager.initCap($data.kvs.schema)}KvsCacheFacade ${data.kvs.schema}KvsCacheFacade;

#if (!$data.suppressBehaviorBasicMethodGen)
    /**
     * Handle the meta as DBMeta, that has all info of the table.
     * @return DBMeta instance (NotNull)
     */
    public ${data.dbflute.dbMeta.className} asDBMeta() {
        return ${data.dbflute.dbMeta.className}.getInstance();
    }
#foreach ($column in $data.columnList)

    // ===================================================================================
    //                                                              ${column.capCamelName}
    //                                                              ======================
#if (!$column.many)
    /**
     * Select the entity by the condition-bean.<br>
     * It returns non-null Optional entity, so you should...
     * <ul>
     *   <li>use alwaysPresent() if the data is always present as your business rule</li>
     *   <li>use ifPresent() and orElse() if it might be empty</li>
     * </ul>
     * <pre>
     * <span style="color: #0000C0">${manager.initUncap($data.subClassName)}</span>.<span style="color: #CC4747">selectEntityBy${column.capCamelName}</span>(<span style="color: #553000">cb</span> <span style="color: #90226C; font-weight: bold"><span style="font-size: 120%">-</span>&gt;</span> {
     *     <span style="color: #3F7E5E">// Setting query condition to the key column is required</span>
     *     <span style="color: #553000">cb</span>.query().set${column.capCamelName}_Equal(1);
     *     <span style="color: #3F7E5E">// Condition for other column(s) can be set if necessary</span>
     *     <span style="color: #553000">cb</span>.query().set...
     * }).<span style="color: #CC4747">alwaysPresent</span>(<span style="color: #553000">${manager.initUncap($data.tableName)}</span> <span style="color: #90226C; font-weight: bold"><span style="font-size: 120%">-</span>&gt;</span> {
     *     ...
     * });
     * </pre>
     * @param cbLambda The callback for condition-bean of Kvs${data.dbflute.exEntity.className} (NotNull)
     * @return The optional entity selected by the condition (NotNull: if no data, empty entity)
     */
    public OptionalEntity<${data.dbflute.exEntity.className}> selectEntityBy${column.capCamelName}(Consumer<${data.exConditionBean.className}> cbLambda) {
        ${data.exConditionBean.className} kvsCB = createCB(cbLambda);
        ${data.dbflute.exConditionBean.className} cb = adjustKvsConditionBeanOf${column.capCamelName}(kvsCB);

        OptionalEntity<${data.dbflute.exEntity.className}> optEntity = ${data.kvs.schema}KvsCacheFacade.findEntity(createKvsKeyListOf${column.capCamelName}(kvsCB), cb,
                expireDateTimeLambdaOf${column.capCamelName}(), kvsCB.isKvsCacheAsyncReflectionEnabled());

        return Stream.of(optEntity)
                .filter(OptionalEntity::isPresent)
                .map(OptionalEntity::get)
                .filter(kvsCB.query().getWherePredicate())
                .findFirst()
                .map(OptionalEntity::of)
                .orElseGet(() -> OptionalEntity.empty());
    }

    // KVS CB から ${column.capCamelName} 用の ${data.dbflute.exConditionBean.className} を作成して返します。
    protected ${data.dbflute.exConditionBean.className} adjustKvsConditionBeanOf${column.capCamelName}(${data.exConditionBean.className} kvsCB) {
        ${data.dbflute.exConditionBean.className} cb = new ${data.dbflute.exConditionBean.className}();
        addKvsConditionOf${column.capCamelName}(kvsCB, cb);

        return cb;
    }

    // ${column.capCamelName} で DB に使う条件のみを kvsCB から取り出し cb に設定します。
    protected void addKvsConditionOf${column.capCamelName}(${data.exConditionBean.className} kvsCB, ${data.dbflute.exConditionBean.className} cb) {
        addDefaultSpecifyColumnOf$!{data.kvs.schemaShort}${column.capCamelName}(kvsCB, cb);
        addDefaultWhereOf${column.capCamelName}(kvsCB, cb);
    }

    // ${column.capCamelName} 用の select 句の列挙されるカラムを CB に設定します。
    protected void addDefaultSpecifyColumnOf${column.capCamelName}(${data.exConditionBean.className} kvsCB, ${data.dbflute.exConditionBean.className} cb) {
#set ($targetdb = $data.dbflute.instance)
#set ($dbTable = $targetdb.getTable($data.tableName))
#if ($dbTable.isDeprecatedSpecifyBatchColumn())
#foreach ($dbColumn in $dbTable.columnList)
#set ($initCapName = ${manager.initCap($dbColumn.javaName)})
        cb.specify().column${initCapName}();
#end
#else
        cb.specify().everyColumn();
#end
    }

    // ${column.capCamelName} 用のキー条件を CB に設定します。
    protected void addDefaultWhereOf${column.capCamelName}(${data.exConditionBean.className} kvsCB, ${data.dbflute.exConditionBean.className} cb) {
        Map<ColumnInfo, Object> columnEqualValue = kvsCB.query().xdfgetColumnEqualValue();

#foreach ($kvsKey in $column.kvsKeys)
#set ($name = $manager.camelize($kvsKey))
#set ($fieldName = ${manager.initUncap($name)})
        Object ${fieldName} = columnEqualValue.get(asDBMeta().column${name}());
        if (${fieldName} == null) {
            throw new IllegalStateException("'set${column.capCamelName}_Equal()' has not been called.");
        }
        cb.query().invokeQueryEqual("${fieldName}", ${fieldName});
#end
    }

#if ($column.expireDateTimeAggregate == 'custom')
    protected abstract Function<${data.dbflute.exEntity.className}, LocalDateTime> expireDateTimeLambdaOf${column.capCamelName}();
#else
    protected Function<${data.dbflute.exEntity.className}, LocalDateTime> expireDateTimeLambdaOf${column.capCamelName}() {
#if ($column.expireDateTime)
        String expireDateTimeColumnFlexibleName = "$column.expireDateTime";
#else
        String expireDateTimeColumnFlexibleName = null;
#end
        return expireDateTimeLambda(${data.kvs.schema}KvsCacheFacade, expireDateTimeColumnFlexibleName);
    }
#end
#else
    /**
     * Select the entity List by the condition-bean.
     * <pre>
     * ListResultBean&lt;SakuhinDetail&gt; sakuhinDetailList = <span style="color: #0000C0">kvsSakuhinDetailBhv</span>.<span style="color: #CC4747">selectListByProductionCountrySakuhin</span>(<span style="color: #553000">cb</span> <span style="color: #90226C; font-weight: bold"><span style="font-size: 120%">-</span>&gt;</span> {
     *     <span style="color: #3F7E5E">// Setting query condition to the key column(s) is required</span>
     *     <span style="color: #553000">cb</span>.query().setDisplayProductionCountry_Equal(countryName);
     *     <span style="color: #553000">cb</span>.query().setSakuhinKana_LikeSearch(...);
     * });
     * sakuhinDetailList.forEach(<span style="color: #553000">detail</span> <span style="color: #90226C; font-weight: bold"><span style="font-size: 120%">-</span>&gt;</span> {
     *     ... = <span style="color: #553000">detail</span>.get...;
     * });
     * </pre>
     * @param cbLambda The callback for condition-bean of Kvs${data.dbflute.exEntity.className} (NotNull)
     * @return The List of entities selected by the condition (NotNull: if no data, empty list)
     */
    public List<${data.dbflute.exEntity.className}> selectListBy${column.capCamelName}(Consumer<${data.exConditionBean.className}> cbLambda) {
        ${data.exConditionBean.className} kvsCB = createCB(cbLambda);
        ${data.dbflute.exConditionBean.className} cb = adjustKvsConditionBeanOf${column.capCamelName}(kvsCB);

        List<${data.dbflute.exEntity.className}> list = ${data.kvs.schema}KvsCacheFacade.findList(createKvsKeyListOf${column.capCamelName}(kvsCB), cb,
                expireDateTimeLambdaOf${column.capCamelName}(), kvsCB.isKvsCacheAsyncReflectionEnabled());

        Predicate<${data.dbflute.exEntity.className}> filter = kvsCB.query().getWherePredicate();
        Comparator<${data.dbflute.exEntity.className}> sorted = kvsCB.query().getOrderByComparator();

        Stream<${data.dbflute.exEntity.className}> stream = list.stream().filter(filter);

        if (sorted != null) {
            stream = stream.sorted(sorted);
        }

        if (kvsCB.xgetFetchFirst().isPresent()) {
            stream = stream.limit(kvsCB.xgetFetchFirst().get());
        }

        return stream.collect(Collectors.toList());
    }

    // KVS CB から ${column.capCamelName} 用の ${data.dbflute.exConditionBean.className} を作成して返します。
    protected ${data.dbflute.exConditionBean.className} adjustKvsConditionBeanOf${column.capCamelName}(${data.exConditionBean.className} kvsCB) {
        ${data.dbflute.exConditionBean.className} cb = new ${data.dbflute.exConditionBean.className}();
        addKvsConditionOf${column.capCamelName}(kvsCB, cb);

        return cb;
    }

    // $!{data.kvs.schemaShort}${column.capCamelName} で DB に使う条件のみを kvsCB から取り出し cb に設定します。
    protected void addKvsConditionOf${column.capCamelName}(${data.exConditionBean.className} kvsCB, ${data.dbflute.exConditionBean.className} cb) {
        addDefaultSpecifyColumnOf${column.capCamelName}(kvsCB, cb);
        addDefaultWhereOf${column.capCamelName}(kvsCB, cb);
        addDefaultOrderByOf${column.capCamelName}(cb);
        kvsCB.xgetFetchFirst().ifPresent(fetchSize -> cb.fetchFirst(fetchSize));
    }

    // ${column.capCamelName} 用の select 句の列挙されるカラムを CB に設定します。
    protected void addDefaultSpecifyColumnOf${column.capCamelName}(${data.exConditionBean.className} kvsCB, ${data.dbflute.exConditionBean.className} cb) {
#set ($targetdb = $data.dbflute.instance)
#set ($dbTable = $targetdb.getTable($data.tableName))
#if ($dbTable.isDeprecatedSpecifyBatchColumn())
#foreach ($dbColumn in $dbTable.columnList)
#set ($initCapName = ${manager.initCap($dbColumn.javaName)})
        cb.specify().column${initCapName}();
#end
#else
        cb.specify().everyColumn();
#end
    }

    // ${column.capCamelName} 用のキー条件を CB に設定します。
    protected void addDefaultWhereOf${column.capCamelName}(${data.exConditionBean.className} kvsCB, ${data.dbflute.exConditionBean.className} cb) {
        Map<ColumnInfo, Object> columnEqualValue = kvsCB.query().xdfgetColumnEqualValue();

#foreach ($kvsKey in $column.kvsKeys)
#set ($name = $manager.camelize($kvsKey))
#set ($fieldName = ${manager.initUncap($name)})
        Object ${fieldName} = columnEqualValue.get(asDBMeta().column${name}());
        if (${fieldName} == null) {
            throw new IllegalStateException("'set${column.capCamelName}_Equal()' has not been called.");
        }
        cb.query().invokeQueryEqual("${fieldName}", ${fieldName});
#end
    }

    // ${column.capCamelName} 用のデフォルトソート順を CB に設定します。
    protected void addDefaultOrderByOf${column.capCamelName}(${data.dbflute.exConditionBean.className} cb) {
#foreach ($order in $column.orderBy)
#set ($ascDesc = "Asc")
#foreach($value in $order.split(' '))
#if($velocityCount == 1)
#set ($methodName = $value)
#elseif($velocityCount == 2 && $value.equalsIgnoreCase("DESC"))
#set ($ascDesc = "Desc")
#end
#end
        cb.query().addOrderBy_${manager.camelize($methodName)}_${ascDesc}();
#end
    }

#set ($expireDateTimeAggregate = 'min')
#if ($column.expireDateTimeAggregate)
#set ($expireDateTimeAggregate = $column.expireDateTimeAggregate)
#end
#if ($expireDateTimeAggregate == 'custom')
    protected abstract Function<List<${data.dbflute.exEntity.className}>, LocalDateTime> expireDateTimeLambdaOf${column.capCamelName}();
#else
    protected Function<List<${data.dbflute.exEntity.className}>, LocalDateTime> expireDateTimeLambdaOf${column.capCamelName}() {
#if ($column.expireDateTime)
        String expireDateTimeColumnFlexibleName = "$column.expireDateTime";
#else
        String expireDateTimeColumnFlexibleName = null;
#end
        return expireDateTimeOf${manager.initCap($manager.camelize($expireDateTimeAggregate))}InListLambda(${data.kvs.schema}KvsCacheFacade, expireDateTimeColumnFlexibleName);
    }
#end

    /**
     * ${column.capCamelName} 用のデフォルトソート順を Comparator で取得します。
     */
    protected Comparator<${data.dbflute.exEntity.className}> createDefaultOrderByOf${column.capCamelName}() {
#foreach ($order in $column.orderBy)
#set ($methodName = "")
#set ($ascDesc = "Comparator.naturalOrder()")
#foreach($value in $order.split(' '))
#if($velocityCount == 1)
#set ($methodName = $value)
#elseif($velocityCount == 2 && $value.equalsIgnoreCase("DESC"))
#set ($ascDesc = "Comparator.reverseOrder()")
#end
#end
#if ($velocityCount == 1)
        Comparator<${data.dbflute.exEntity.className}> comparator = Comparator.comparing(${data.dbflute.exEntity.className}::get${manager.camelize($methodName)}, $ascDesc);
#else
        comparator.thenComparing(${data.dbflute.exEntity.className}::get${manager.camelize($methodName)}, Comparator.naturalOrder());
#end
#end
        return comparator;
    }
#end

    /**
     * Select the ttl by the condition-bean.<br>
     * It returns non-null Optional entity, so you should...
     * <ul>
     *   <li>use alwaysPresent() if the data is always present as your business rule</li>
     *   <li>use ifPresent() and orElse() if it might be empty</li>
     * </ul>
     * <pre>
     * <span style="color: #0000C0">${manager.initUncap($data.subClassName)}</span>.<span style="color: #CC4747">ttlBy${column.capCamelName}</span>(<span style="color: #553000">cb</span> <span style="color: #90226C; font-weight: bold"><span style="font-size: 120%">-</span>&gt;</span> {
     *     <span style="color: #3F7E5E">// Setting query condition to the key column is required</span>
     *     <span style="color: #553000">cb</span>.query().set${column.capCamelName}_Equal(1);
     *     <span style="color: #3F7E5E">// Condition for other column(s) can be set if necessary</span>
     *     <span style="color: #553000">cb</span>.query().set...
     * }).<span style="color: #CC4747">alwaysPresent</span>(<span style="color: #553000">ttl</span> <span style="color: #90226C; font-weight: bold"><span style="font-size: 120%">-</span>&gt;</span> {
     *     ...
     * });
     * </pre>
     * @param cbLambda The callback for condition-bean of Kvs${data.dbflute.exEntity.className} (NotNull)
     * @return The optional ttl selected by the condition (NotNull: if no data, empty ttl)
     */
    public OptionalEntity<Long> selectTtlBy${column.capCamelName}(Consumer<${data.exConditionBean.className}> cbLambda) {
        ${data.exConditionBean.className} kvsCB = createCB(cbLambda);
        ${data.dbflute.exConditionBean.className} cb = adjustKvsConditionBeanOf${column.capCamelName}(kvsCB);
        return ${data.kvs.schema}KvsCacheFacade.ttl(createKvsKeyListOf${column.capCamelName}(kvsCB), cb);
    }

    /**
     * Insert or update the entity.
     * <pre>
     * <span style="color: #0000C0">kvsSakuhinBhv</span>.<span style="color: #CC4747">insertOrUpdateBySakuhinId</span>(() <span style="color: #90226C; font-weight: bold"><span style="font-size: 120%">-</span>&gt;</span> {
     *     Sakuhin sakuhin = <span style="color: #70226C">new</span> Sakuhin();
     *     <span style="color: #3F7E5E">// If you are going to update or the KVS-key which is not primary key in RDB is specified, set key-column(s)</span>
     *     <span style="color: #3F7E5E">// e.g.) sakuhin.setProductionYear(year);</span>
     *     <span style="color: #3F7E5E">// Set value for insert/update</span>
     *     sakuhin.set...;
     *     ...
     *     <span style="color: #70226C">return</span> sakuhin;
     * });
     * </pre>
     * @param entityLambda The handler of entity row of ${data.dbflute.exEntity.className} (NotNull)
     * @return The Entity used to insert/update with automatically-set column value (NotNull)
     */
    public ${data.dbflute.exEntity.className} insertOrUpdateBy${column.capCamelName}(Supplier<${data.dbflute.exEntity.className}> entityLambda) {
        return varyingInsertOrUpdateBy${column.capCamelName}(entityLambda, op -> {});
    }

    /**
     * Insert or update the entity.
     * <pre>
     * <span style="color: #0000C0">kvsSakuhinBhv</span>.<span style="color: #CC4747">insertOrUpdateBySakuhinId</span>(() <span style="color: #90226C; font-weight: bold"><span style="font-size: 120%">-</span>&gt;</span> {
     *     Sakuhin sakuhin = <span style="color: #70226C">new</span> Sakuhin();
     *     <span style="color: #3F7E5E">// If you are going to update or the KVS-key which is not primary key in RDB is specified, set key-column(s)</span>
     *     <span style="color: #3F7E5E">// e.g.) sakuhin.setProductionYear(year);</span>
     *     <span style="color: #3F7E5E">// Set value for insert/update</span>
     *     sakuhin.set...;
     *     ...
     *     <span style="color: #70226C">return</span> sakuhin;
     * });
     * </pre>
     * @param entityLambda The handler of entity row of ${data.dbflute.exEntity.className} (NotNull)
     * @param op Option (NotNull)
     * @return The Entity used to insert/update with automatically-set column value (NotNull)
     */
    public ${data.dbflute.exEntity.className} varyingInsertOrUpdateBy${column.capCamelName}(Supplier<${data.dbflute.exEntity.className}> entityLambda, Consumer<InsertOrUpdateOption> op) {
        ${data.dbflute.exEntity.className} ${manager.initUncap($data.tableName)} = entityLambda.get();
        InsertOrUpdateOption option = new InsertOrUpdateOption();
        op.accept(option);
        ${data.kvs.schema}KvsCacheFacade.insertOrUpdate(createKvsKeyListOf${column.capCamelName}(${manager.initUncap($data.tableName)}), ${manager.initUncap($data.tableName)}, option);

        return ${manager.initUncap($data.tableName)};
    }

    /**
     * Delete the entity.
     * <pre>
     * <span style="color: #0000C0">kvsSakuhinBhv</span>.<span style="color: #CC4747">deleteBySakuhinId</span>(() <span style="color: #90226C; font-weight: bold"><span style="font-size: 120%">-</span>&gt;</span> {
     *     Sakuhin sakuhin = <span style="color: #70226C">new</span> Sakuhin();
     *     <span style="color: #3F7E5E">// Set KVS-key(s)</span>
     *     sakuhin.setSakuhinId(<span style="color: #553000">sakuhinId</span>);
     *     <span style="color: #70226C">return</span> sakuhin;
     * });
     * </pre>
     * @param entityLambda The handler of entity row of ${data.dbflute.exEntity.className} (NotNull)
     */
    public void deleteBy${column.capCamelName}(Supplier<${data.dbflute.exEntity.className}> entityLambda) {
        varyingDeleteBy${column.capCamelName}(entityLambda, op -> {});
    }

    /**
     * Delete the entity.
     * <pre>
     * <span style="color: #0000C0">kvsSakuhinBhv</span>.<span style="color: #CC4747">deleteBySakuhinId</span>(() <span style="color: #90226C; font-weight: bold"><span style="font-size: 120%">-</span>&gt;</span> {
     *     Sakuhin sakuhin = <span style="color: #70226C">new</span> Sakuhin();
     *     <span style="color: #3F7E5E">// Set KVS-key(s)</span>
     *     sakuhin.setSakuhinId(<span style="color: #553000">sakuhinId</span>);
     *     <span style="color: #70226C">return</span> sakuhin;
     * });
     * </pre>
     * @param entityLambda The handler of entity row of ${data.dbflute.exEntity.className} (NotNull)
     * @param op Option (NotNull)
     */
    public void varyingDeleteBy${column.capCamelName}(Supplier<${data.dbflute.exEntity.className}> entityLambda, Consumer<DeleteOption> op) {
        ${data.dbflute.exEntity.className} ${manager.initUncap($data.tableName)} = entityLambda.get();
        DeleteOption option = new DeleteOption();
        op.accept(option);
        ${data.kvs.schema}KvsCacheFacade.delete(createKvsKeyListOf${column.capCamelName}(${manager.initUncap($data.tableName)}), ${manager.initUncap($data.tableName)}, option);
    }

    protected List<Object> createKvsKeyListOf${column.capCamelName}(${data.exConditionBean.className} kvsCB) {
        List<Object> kvsKeyList = DfCollectionUtil.newArrayList();
        kvsKeyList.add("${column.name}");

        Map<ColumnInfo, Object> columnEqualValue = kvsCB.query().xdfgetColumnEqualValue();

#foreach ($kvsKey in $column.kvsKeys)
#set ($fieldName = ${manager.initUncap($manager.camelize($kvsKey))})
        // $fieldName
        Object $fieldName = columnEqualValue.get(asDBMeta().column${manager.camelize($kvsKey)}());
        if ($fieldName == null) {
            throw new IllegalStateException("'set${manager.camelize($kvsKey)}_Equal()' has not been called.");
        }
        kvsKeyList.add($fieldName);

#end
        return kvsKeyList;
    }

    protected List<Object> createKvsKeyListOf${column.capCamelName}(${data.dbflute.exEntity.className} ${manager.initUncap($data.tableName)}) {
        List<Object> kvsKeyList = DfCollectionUtil.newArrayList();
        kvsKeyList.add("${column.name}");
#foreach ($kvsKey in $column.kvsKeys)
        kvsKeyList.add(${manager.initUncap($data.tableName)}.get${manager.camelize($kvsKey)}());
#end
        return kvsKeyList;
    }
#end

    @Override
    public ${data.exConditionBean.className} newConditionBean() {
        return new ${data.exConditionBean.className}();
    }
#end
}
