##
## Copyright 2014-2018 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
${manager.allClassCopyright}package org.dbflute.c7a.cbean;

import java.util.List;
import java.util.stream.Collectors;

import org.dbflute.cbean.sqlclause.orderby.OrderByElement;
import org.dbflute.optional.OptionalEntity;
import org.dbflute.util.DfStringUtil;

import com.datastax.driver.core.ConsistencyLevel;
import com.datastax.driver.core.PagingState;
import com.datastax.driver.core.Statement;
import com.datastax.driver.core.querybuilder.Delete;
import com.datastax.driver.core.querybuilder.Ordering;
import com.datastax.driver.core.querybuilder.QueryBuilder;
import com.datastax.driver.core.querybuilder.Select;
import com.datastax.driver.core.querybuilder.Select.Builder;
import com.datastax.driver.core.querybuilder.Update;

/**
 * @author FreeGen
 */
public abstract class AbstractC7aConditionBean implements C7aConditionBean {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected int _fetchSize;

    protected String _pagingState;

    protected ConsistencyLevel _consistencyLevel;

    protected boolean _paging;

    protected boolean _pagingCountEnabled;

    // ===================================================================================
    //                                                                        Count Select
    //                                                                        ============
    @Override
    public Statement buildSelectCount() {
        Builder builder = QueryBuilder.select().countAll();
        final Select select = builder.from(deriveTableName(query().getOrderByList()));
        buildWhere(select);
        getConsistencyLevel().ifPresent(consistencyLevel -> {
            select.setConsistencyLevel(consistencyLevel);
        });

        return select;
    }

    // ===================================================================================
    //                                                                              Select
    //                                                                              ======
    @Override
    public Statement buildSelect() {
        Select.Selection builder = QueryBuilder.select();
        if (specify().hasSpecifiedColumn()) {
            specify().getSpecifyColumns().stream().forEach(specifyColumn -> builder.column(specifyColumn));
        } else {
            builder.all();
        }
        final Select select = builder.from(deriveTableName(query().getOrderByList()));
        buildWhere(select);
        buildOrderBy(select);
        if (_fetchSize != 0) {
            if (_paging) {
                select.setFetchSize(_fetchSize);
            } else {
                select.limit(_fetchSize);
            }
        }

        if (DfStringUtil.is_NotNull_and_NotEmpty(_pagingState)) {
            select.setPagingState(PagingState.fromString(_pagingState));
        }

        getConsistencyLevel().ifPresent(consistencyLevel -> {
            select.setConsistencyLevel(consistencyLevel);
        });

        return select;
    }

    // ===================================================================================
    //                                                                              Update
    //                                                                              ======
    @Override
    public Update buildQueryUpdate() {
        Update update = QueryBuilder.update(asTableDbName());
        buildWhere(update);
        return update;
    }

    // ===================================================================================
    //                                                                              Delete
    //                                                                              ======
    @Override
    public Delete buildQueryDelete() {
        Delete delete = QueryBuilder.delete().all().from(asTableDbName());
        buildWhere(delete);
        return delete;
    }

    // ===================================================================================
    //                                                                         Query Parts
    //                                                                         ===========
    protected String deriveTableName(List<OrderByElement> orderByList) {
        if (orderByList.isEmpty()) {
            return filterTableName(asTableDbName());
        }
        String orderByString = orderByList.stream().map(orderBy -> {
            return orderBy.getColumnName() + ' ' + orderBy.getAscDesc();
        }).collect(Collectors.joining(", "));
        return filterTableName(asDBMeta().asTableDbNameMap()
                .entrySet()
                .stream()
                .filter(tableDbNameEntry -> tableDbNameEntry.getKey().startsWith(orderByString))
                .map(tableDbNameEntry -> tableDbNameEntry.getValue())
                .findFirst()
                .orElseThrow(() -> new RuntimeException("[Invalid query] message=Unsupported order by relation")));
    }

    protected String filterTableName(String tableName) {
        return tableName;
    }

    protected abstract void buildWhere(Select select);

    protected abstract void buildWhere(Update update);

    protected abstract void buildWhere(Delete delete);

    protected void buildOrderBy(final Select select) {
        List<OrderByElement> orderByList = query().getOrderByList();
        if (orderByList.isEmpty()) {
            return;
        }
        select.orderBy(orderByList.stream().map(orderBy -> {
            return orderBy.getAscDesc().equals("asc") ? QueryBuilder.asc(orderBy.getColumnName())
                    : QueryBuilder.desc(orderBy.getColumnName());
        }).toArray(size -> new Ordering[size]));
    }

    public void setConsistencyLevel(ConsistencyLevel consistencyLevel) {
        _consistencyLevel = consistencyLevel;
    }

    public OptionalEntity<ConsistencyLevel> getConsistencyLevel() {
        return OptionalEntity.ofNullable(_consistencyLevel, () -> {
            throw new IllegalStateException("consistencyLevel is not set.");
        });
    }

    public void fetchFirst(int fetchSize) {
        _fetchSize = fetchSize;
    }

    @Override
    public int getFetchSize() {
        return _fetchSize;
    }

    protected void xPagingState(String pagingState) {
        _pagingState = pagingState;
    }

    @Override
    public String getPagingState() {
        return _pagingState;
    }

    // ===================================================================================
    //                                                                      Paging Setting
    //                                                                      ==============
    @Override
    public void enablePagingCount() {
        _pagingCountEnabled = true;
    }

    @Override
    public void disablePagingCount() {
        _pagingCountEnabled = false;
    }

    @Override
    public boolean canPagingCount() {
        return _pagingCountEnabled;
    }
}
